*{
    font-family: 'Dosis', sans-serif;
}

body{
    background-color: #cccc64;
    margin: 0;
    padding: 0;
}

#container{
    text-align: center;
    margin-top: 30px;
}

#make-new-button{
    width: 200px;
    height: 75px;
    font-size: 30px;
}

#project-table{
    margin: auto;
    display: inline-grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.project-card{
    background-color: lightblue;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    margin: 15px 15px 0 0;
    text-align: center;
    box-shadow: 15px 10px 10px grey;
}

.todos{
    text-align: left;
    height: 60%;
    width: 90%;
    margin: auto;
    border-style: outset;
    border-color: white;
}

#project-form{
    margin: auto;
    background-color: lightblue;
    box-shadow: 15px 10px 10px grey;
    border-radius: 20px;
    height: auto;
    width: 600px;
}

#form-title{
    margin: 20px 0 0 0;
}

#pname{
    margin: 20px 0 20px 0;
}

#todo-container{
    margin: auto;
    width: 85%;
    border-style: inset;
}

#submit-new-button{
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin: 20px 0 20px 0;
}

